.page {
  padding: 30px 40px 0 40px;
}
.page .title {
  font-size: 24px;
  color: #444;
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.page .item {
  font-size: 14px;
  color: #888;
  padding: 5px 0;
  cursor: pointer;
}
.page .item:hover {
  color: #000;
}
